@media screen and (max-width: 768px) {
    .gbr2 {
        margin-top: 10%;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

.mapSta {
    width: 90%; 
    height: 90%;
    align-content: center;
    margin: 2% 5% 5% 5%;
}